IManage.Core/Service References/IManageEmployeeService/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/IManageService/Services/EmployeesService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/IManageService/Services/EmployeesService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/IManageService/Services/EmployeesService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IManageService.BusinessLogic.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_SaveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SaveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmployeeWithGivenPinCode_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeWithGivenPinCode" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmployeeWithGivenPinCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeWithGivenPinCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeWithGivenPinCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeWithGivenPinCode" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeWithGivenPinCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeWithGivenPinCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_IsEmployeeClockedIn_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEmployeeClockedIn" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_IsEmployeeClockedIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEmployeeClockedInResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/SaveEmployee" message="tns:IEmployeeService_SaveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/SaveEmployeeResponse" message="tns:IEmployeeService_SaveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmployee" message="tns:IEmployeeService_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmployeeResponse" message="tns:IEmployeeService_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeWithGivenPinCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmployeeWithGivenPinCode" message="tns:IEmployeeService_DeleteEmployeeWithGivenPinCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmployeeWithGivenPinCodeResponse" message="tns:IEmployeeService_DeleteEmployeeWithGivenPinCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeWithGivenPinCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeWithGivenPinCode" message="tns:IEmployeeService_GetEmployeeWithGivenPinCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeWithGivenPinCodeResponse" message="tns:IEmployeeService_GetEmployeeWithGivenPinCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetAllEmployees" message="tns:IEmployeeService_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetAllEmployeesResponse" message="tns:IEmployeeService_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsEmployeeClockedIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/IsEmployeeClockedIn" message="tns:IEmployeeService_IsEmployeeClockedIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/IsEmployeeClockedInResponse" message="tns:IEmployeeService_IsEmployeeClockedIn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/SaveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeWithGivenPinCode">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/DeleteEmployeeWithGivenPinCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeWithGivenPinCode">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeeWithGivenPinCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmployeeClockedIn">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/IsEmployeeClockedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="EmployeeService" binding="tns:EmployeeService">
      <soap:address location="http://localhost:8090/IManageService/Services/EmployeesService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>