IManage.Core/Service References/IManageEmployeeService/EmployeesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IManageService.BusinessLogic.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IManageService.BusinessLogic.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:simpleType name="JobTitle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Manager" />
      <xs:enumeration value="Chef" />
      <xs:enumeration value="Waiter" />
      <xs:enumeration value="DishWasher" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JobTitle" nillable="true" type="tns:JobTitle" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BsnNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClockInOutId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClockInOuts" nillable="true" type="tns:ArrayOfClockInOut" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="tns:Gender" />
      <xs:element minOccurs="0" name="IsClocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="tns:JobTitle" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notifications" nillable="true" type="tns:ArrayOfNotification" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:long" />
      <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Schedules" nillable="true" type="tns:ArrayOfSchedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfClockInOut">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClockInOut" nillable="true" type="tns:ClockInOut" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClockInOut" nillable="true" type="tns:ArrayOfClockInOut" />
  <xs:complexType name="ClockInOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClockInDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClockOutDateTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClockInOut" nillable="true" type="tns:ClockInOut" />
  <xs:complexType name="ArrayOfNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="tns:Notification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotification" nillable="true" type="tns:ArrayOfNotification" />
  <xs:complexType name="Notification">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
  <xs:complexType name="ArrayOfSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Schedule" nillable="true" type="tns:Schedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchedule" nillable="true" type="tns:ArrayOfSchedule" />
  <xs:complexType name="Schedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeePinCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndHour" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartHour" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Updated" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WeekDay" type="tns:WeekDay" />
      <xs:element minOccurs="0" name="WeekNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Schedule" nillable="true" type="tns:Schedule" />
  <xs:simpleType name="WeekDay">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Monday" />
      <xs:enumeration value="Tuesday" />
      <xs:enumeration value="Wednesday" />
      <xs:enumeration value="Thursday" />
      <xs:enumeration value="Friday" />
      <xs:enumeration value="Saturday" />
      <xs:enumeration value="Sunday" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WeekDay" nillable="true" type="tns:WeekDay" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
</xs:schema>