IManage.Core/Service References/IManageClockService/ClockService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/IManageService/Services/ClockService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IManageService.BusinessLogic.Domain" />
  <xs:element name="ClockIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeePinCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IManageService.BusinessLogic.Domain" minOccurs="0" name="clockInOut" nillable="true" type="q1:ClockInOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClockInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClockInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClockOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeePinCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clockOutDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClockOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClockOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>